* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fontFamily2);
}

.intro-content {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.intro-content--right img {
  width: 400px;
  height: 400px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.choose-us {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  margin-top: 40px;
  background-color: var(--color1);
  color: var(--color2);
}

.choose-us--bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
}

.choose-us--bottom .card {
  padding: 20px;
  background-color: rgba(43, 43, 43, 0.242);
  box-shadow: 3px 1px 1px 1px gray;
  text-align: center;
  transition: all 4s ease;
}

.caption {
  opacity: 0.7;
}

.choose-us--bottom .card i {
  font-size: var(--fontSize6);
  text-align: center;
  color: var(--color4);
}

.card:hover {
  color: var(--color4);
}

.bb {
  align-self: center;
}

/* <= 768px */
@media (max-width: 768px) {
  .choose-us--bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* <= 486px */
@media (max-width: 486px) {
  .choose-us--bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .intro-content--right img {
    width: 300px;
    height: 400px;
  }
}
/* choose us section ends */

/* pricing section starts */
#pricing-section {
  background-color: var(--color2);
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  margin-top: 40px;
  color: var(--color2);
}

.pricing-content--top {
  text-align: center;
  font-family: var(--fontfamily2);
}

.pricing-content--top--text {
  opacity: 0.8;
}

.pricing-content--bottom {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.pricing-content--bottom .card {
  background-color: var(--color1);
  color: var(--color2);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px 1px 2px black;
  transition: color 2s ease-in;
}

.pricing-content--bottom .card:hover {
  color: var(--color4);
}

.pricing-content--bottom .card .plan-price .plan {
  font-size: var(--fontSize5);
  color: var(--color2);
  font-weight: 900;
  font-family: var(--fontfamily3);
}

.pricing-content--bottom .card .plan-price .price span {
  font-size: var(--fontSize5);
}

.pricing-content--bottom .card .plan-price .price {
  opacity: 0.6;
}

.pricing-content--bottom .card .plan-features div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pricing-content--bottom .card .plan-features div i {
  font-weight: 900;
  color: var(--color4);
  font-size: var(--fontSize5);
}

.pricing-content--bottom .card button {
  align-self: center;
}

/* responsive pricing starts */

/* <=1200px */
@media (max-width: 1200px) {
  .pricing-content--bottom {
    grid-template-columns: repeat(2, 300px);
  }
}

/* <=760px */
@media (max-width: 760px) {
  .pricing-content--bottom {
    grid-template-columns: repeat(1, 300px);
  }
}

/* patner section starts */
#patner-section {
  background-color: var(--color2);
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  margin-top: 40px;
  color: var(--color1);
}

.patner-content--top {
  text-align: center;
  font-family: var(--fontfamily3);
}

.patner-content--bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
}

.patner-content--bottom img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
/* patner section ends */

/* responsive patner starts */
/* <= 760 */
@media (max-width: 760px) {
  .patner-content--bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}

.nav-links {
  display: flex;
}
